* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #F5F8FF;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;

}



.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-weight: 600;

}

.nav-link {
    text-decoration: none;

}


.text-gray {
    color: #8987A1;
}



.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    max-width: 1440px;
    margin: auto;
    gap: 2rem;
}

.banner-content {
    flex: 1;
    text-align: left;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 1rem;

}



.highlight-text {
    color: #E95A08;
}



.banner-img {
    flex: 1;
    max-width: 500px;
    width: 100%;
    height: auto;
}

.plant-contant {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}




.plant-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.plant-card {

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.plant-card:hover {
    transform: scale(1.03);
}

.plant-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.plant-card h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.price {

    font-weight: bold;
    margin-bottom: 1rem;
}

.cart-btn {
    padding: 0.5rem 1rem;
    background-color: #E95A08;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;

}

.plant-lover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    gap: 2rem;
    max-width: 1200px;
    margin: 50px auto;

}


.lover-content {

    text-align: left;
}

.lover-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;

}

.lover-list {

    padding-left: 1.5rem;
    font-size: 1.5rem;
    color: #8987A1;
}

.badge-wrapper {
    position: relative;

    max-width: 100%;
}






.store-img {
    width: 100%;
    height: auto;
    display: block;

}

.trusted-badge {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 90px;


}

.join-section {

    background-size: cover;
    background-position: center;

    padding: 80px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.join-content h2 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 30px;

}

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.subscribe-form input {
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    flex: 1 1 300px;
    max-width: 400px;
}

.subscribe-form button {
    padding: 15px 25px;
    font-size: 1rem;
    background-color: #E95A08;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.join-email {
  margin-top: -150px;
  position: relative;

}

.join-img {
  width: 100%;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;

}

.footer-logo {
    flex: 1;
    min-width: 250px;
}

.footer-logo img {
    max-width: 150px;
    margin-bottom: 1rem;
}

.tagline {
    color: #8987A1;
    font-size: 0.95rem;
}

.footer-links {
    flex: 2;
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    gap: 1rem;
}

.link-group {
    list-style: none;
    padding: 0;
}

.link-group li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    line-height: 2rem;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}


.promo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.promo-card {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
}



.zabo {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

}

.promo-card h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.promo-card span {
    font-weight: 400;
    font-size: 2.4rem;
}

.price {
    color: #fff;
    text-align: center;
    justify-content: center;
    position: relative;
    top: -150px;
}

.price-zabo {
    color: #fff;
    text-align: center;
    justify-content: center;
    position: relative;
    top: -250px;
}

.shop-btn {

    color: #fff;
    padding: 0.5rem 1rem;

    font-weight: 500;
    text-decoration: none;
    align-self: flex-start;
    transition: background-color 0.3s ease;
}

.shop-btn:hover {
    background-color: #E95A08;
}

@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: row;
    }

    .nav-links:not(.cart) {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
        align-items: flex-start;
        text-align: left;
    }

    .banner-img {
        max-width: 100%;
    }

    .banner-content {
        width: 100%;
        margin-top: 1rem;
    }

    .plant-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .plant-lover {
        flex-direction: column;
        text-align: left;
    }



    .lover-content {
        width: 100%;

    }

    .lover-title {
        font-size: 2rem;
    }

    .lover-list {
        font-size: 1rem;
    }

    
   
    .promo-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .zabo {
        grid-column: auto;
        grid-row: auto;
    }

    .grid-img {
        width: 100%;
    }
}